<!DOCTYPE html>
<html lang='en'>
<head>
    <title>Parking Lot Occupancy Prediction</title>
    <meta charset="utf-8">

    {% load staticfiles %}
    <script src="http://d3js.org/d3.v3.min.js"></script>
    <script src="{% static "bower_components/jquery/dist/jquery.min.js" %}"></script>
    <script src="{% static "bower_components/angular/angular.js" %}"></script>
    <link rel="stylesheet" href="{% static "bower_components/bootstrap/dist/css/bootstrap.min.css" %}">

    <script src="{% static "frontPage/scripts/parkingPrediction.js" %}"></script>
    <link rel="stylesheet" href="{% static "frontPage/styles/styleSheet.css" %}">

    <link href="{% static "img/gif/spiffygif_30x30.gif" %}">
</head>
<body ng-app="uploadPage" style="height: 100%">
<!-- Single button -->
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Logo</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Projects</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
            </ul>
        </div>
    </div>
</nav>

<div ng-controller="frontPageController" class="container-fluid text-center" style="height: 100%">
    <div class="row content">
        {#        <div class="col-sm-2 sidenav">#}
        {#            <p><a href="#">Link</a></p>#}
        {#            <p><a href="#">Link</a></p>#}
        {#            <p><a href="#">Link</a></p>#}
        {#        </div>#}
        <div class="col-sm-8 text-left" style="width:100%">
            <h1 style="text-align: center">Please Upload Your Historical Data Here!</h1>
            <div style="text-align: center">
                <input type="file" file-model="myfiles" style="text-align: center"/>
                <button ng-click="uploadFile()">Submit</button>
            </div>
            <hr>
            <h3 style="text-align: center">Predict Results</h3>
            <div>
                <select ng-model="selectedYear" ng-options="year for year in yearOption" style="width:100px"></select>
                <select ng-model="selectedMonth" ng-options="month for month in monthOption[selectedYear]"
                        style="width:100px"></select>
                <select ng-model="selectedDay" ng-options="day for day in dateOption[selectedMonth]" style="width:100px"></select>
                <div linear-chart chart-data="chartData"></div>
            </div>

        </div>
        {#        <div class="col-sm-2 sidenav">#}
        {#            <div class="well">#}
        {#                <p>ADS</p>#}
        {#            </div>#}
        {#            <div class="well">#}
        {#                <p>ADS</p>#}
        {#            </div>#}
        {#        </div>#}
    </div>
</div>

<footer class="container-fluid text-center">
</footer>

</body>
</html>